* {
  
    margin: 0; /* Elimina márgenes predeterminados */
    padding: 0; /* Elimina rellenos predeterminados */
    box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total */
   
}

body {
    font-family: 'Roboto', sans-serif; /* Aplica a todo el documento */
  }

.fw-900 {
    font-weight: 900; /* Grosor "bold" */
  }



.contenido-header ul {
    list-style: none; /* Elimina los estilos de lista predeterminados */
}

a {
    text-decoration: none; /* Elimina el subrayado de los enlaces */
}

header {
    display: flex; /* Usa flexbox para organizar los elementos */
    justify-content: space-between; /* Coloca los elementos en los extremos */
    align-items: center; /* Alinea los elementos verticalmente */
    background-color: #1f2937; /* Fondo oscuro para el header */
    padding: 0 20px; /* Espacio a los lados del header */
}

.contenido-header {
    display: flex; /* Flexbox para organizar los elementos internos */
    flex: 1; /* Permite que el contenedor ocupe todo el espacio disponible */
    justify-content: space-between; /* Coloca los elementos en los extremos */
    align-items: center; /* Alinea los elementos verticalmente */
}

.contenido-header h1{
    font-size: 24px;
    color: white;
}


.navegacion-header ul {
    display: flex; /* Coloca los elementos del menú en una fila */
    gap: 25px; /* Espacio entre los elementos del menú */
    padding-right: 40px;
}

.contenido-header a{
    padding-left: 30px;
    font-size: 18px;
    color: white;
}

.navegacion-header a:hover{
    color: #3882F6;
    transform: scale(1.05);
}



/*------------------------------------------------------------------------------------*/
/*Contenedor sobre mí*/
.contenedor-sm{
    background-color: #1f2937;
}

.contenedor-sm .sobre-mi {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 70px 100px 20px 100px; /* Espacio a los lados del contenedor */ 
}

.contenedor-sm h2 {
    color: white;
    font-size: 48px;
    padding-bottom: 10px;
}

.contenedor-sm p{
    color: #E5E7EB;
    width: 900px;
    font-size: 17px;
    
    margin-bottom: 15px;
}

.contenedor-sm .sobre-mi img {
    height: auto;
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;
    border-color: #3882F6;
    
}

.perfil-pro{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-right: 190px;
}

.perfil-pro img{
    width: 40px;
    height: auto;
    margin-bottom: 30px;
}



/*-----------------------------------------------------------*/
/*Contenedor Educación*/

.contenedor-ed h2 {
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    margin-top: 50px;
}

.contenedor-ed .tarjeta-ed {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    margin: 30px 100px;
    padding: 30px 100px; /* Espacio a los lados del contenedor */
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 16px;
    border-radius: 10px;
}


.sobre-ed{
    padding: 0px 200px;
    display: flex;
}

.sobre-ed img{
    width: 40px;
    height: auto;
    padding-bottom: 10px;
}


.tarjeta-ed {
    cursor: pointer;
    transition: transform 0.2s ease;
}

.tarjeta-ed:hover {
    transform: scale(1.02); /* Efecto de zoom al pasar el cursor */
}


/*Contenedor tecnologías*/

.contenedor-tec {
    margin: 30px 100px;
    padding: 30px 100px; /* Espacio a los lados del contenedor */
}

.contenedor-tec h2 {
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    margin-top: 50px;
    margin-bottom: 40px;
}

.tarjeta-contenedor {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

.tarjeta {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 16px;
    text-align: center;
    width:200px;
    border-radius: 10px;
    padding: 20px;
    
}

.tarjeta img {
    width: 100px;
    height: 110px;
    padding-bottom: 10px;
}


/*Contenedor proyectos*/

.contenedor-pr {
    margin: 30px 100px;
    padding: 30px 100px; /* Espacio a los lados del contenedor */
}

.contenedor-pr h2 {
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    margin-top: 50px;
    margin-bottom: 40px;
}

.tarjeta-pr{
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 16px;
    text-align: center;
    width:350px;
    border-radius: 10px;
    padding: 20px;
}

.tarjeta-pr img {
    width: 300px;
    height: auto;
}




/*Contenedor contacto*/

.contenedor-ct {
    margin: 30px 100px;
    padding: 30px 100px; /* Espacio a los lados del contenedor */
    background-color: #e5e7eb;
    border-radius: 10px;

    color:#1f2937;
}

.contacto-tarjeta  {
    display: flex;
    justify-content: space-between;
}

.contacto-tarjeta h2 {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contacto-tarjeta p{
    font-size: 18px;
    margin-right: 60px;
}


.btn {
    display: flex;
    gap: 50px;
    flex-direction: row;
    align-items: center;}

.btn img {
    width: 60px;
    height: 60px;
    
  }
  






.contenido-footer {
    height: 50px; /* Altura personalizada */
    display: flex;
    background-color: #1f2937;
    color: #E5E7EB;
    justify-content: center; /* Alinea el contenido horizontalmente */
    align-items: center; /* Alinea el contenido verticalmente */
}

.contenido-footer p {
    margin: 0;
}