* {
    
    margin: 0; /* Elimina márgenes predeterminados */
    padding: 0; /* Elimina rellenos predeterminados */
    box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total */
   
}

body {
    font-family: 'Roboto', sans-serif; /* Aplica a todo el documento */
  }

.fw-900 {
    font-weight: 900; /* Grosor "bold" */
  }



.contenido-header ul {
    list-style: none; /* Elimina los estilos de lista predeterminados */
}

a {
    text-decoration: none; /* Elimina el subrayado de los enlaces */
}

header {
    display: flex; /* Usa flexbox para organizar los elementos */
    justify-content: space-between; /* Coloca los elementos en los extremos */
    align-items: center; /* Alinea los elementos verticalmente */
    background-color: #1f2937; /* Fondo oscuro para el header */
    padding: 0 20px; /* Espacio a los lados del header */
}

.contenido-header {
    display: flex; /* Flexbox para organizar los elementos internos */
    flex: 1; /* Permite que el contenedor ocupe todo el espacio disponible */
    justify-content: space-between; /* Coloca los elementos en los extremos */
    align-items: center; /* Alinea los elementos verticalmente */
}

.contenido-header h1{
    font-size: 24px;
    color: white;
}


.navegacion-header ul {
    display: flex; /* Coloca los elementos del menú en una fila */
    gap: 25px; /* Espacio entre los elementos del menú */
    padding-right: 40px;
}

.contenido-header a{
    padding-left: 30px;
    font-size: 18px;
    color: white;
}

.navegacion-header a:hover{
    color: #3882F6;
    transform: scale(1.05);
}


.contenedor-sm {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 100px 100px; /* Espacio a los lados del contenedor */
    background-color: #1f2937;      
}

.contenedor-sm h2 {
    color: white;
    font-size: 48px;
    padding-bottom: 10px;
}

.contenedor-sm p{
    color: #E5E7EB;
    width: 900px;
    font-size: 17px;
}

.contenedor-sm img {
    height: auto;
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;
    border-color: #3882F6;
}


/*Contenedor Educación*/

.contenedor-ed h2 {
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    margin-top: 50px;
}

.contenedor-ed div {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    margin: 30px 100px;
    padding: 30px 100px; /* Espacio a los lados del contenedor */
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 16px;
    text-align: center;
    border-radius: 10px;
}



/*Contenedor tecnologías*/

.contenedor-tec {
    margin: 30px 100px;
    padding: 30px 100px; /* Espacio a los lados del contenedor */
}

.contenedor-tec h2 {
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    margin-top: 50px;
    margin-bottom: 40px;
}

.tarjeta-contenedor {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

.tarjeta {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 16px;
    text-align: center;
    width:200px;
    border-radius: 10px;
    padding: 20px;
    
}

.tarjeta img {
    width: 100px;
    height: auto;
}


/*Contenedor proyectos*/

.contenedor-pr {
    margin: 30px 100px;
    padding: 30px 100px; /* Espacio a los lados del contenedor */
}

.contenedor-pr h2 {
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    margin-top: 50px;
    margin-bottom: 40px;
}

.tarjeta-pr{
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 16px;
    text-align: center;
    width:350px;
    border-radius: 10px;
    padding: 20px;
}

.tarjeta-pr img {
    width: 300px;
    height: auto;
}